<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permission pour accéder à Internet (Firebase en a besoin) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Ajoutez aussi ces permissions si nécessaire -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--demander l'autorisation d'accéder aux fichiers de stockage externe -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.test1"

        

        tools:targetApi="31">

        <!-- Activité de création de compte -->

        <activity android:name=".SignupActivity" />

        <!-- Activité de connexion -->
        <activity android:name=".LoginActivity" />

        <!-- Activité principale de l'application après connexion -->
        <activity android:name=".HomeActivity" />

             <!-- activities santé -->
        <activity android:name=".CabinetDetailsActivity" />
        <activity android:name=".CabinetListActivity"/>

  <!--  fin activities santé -->
        <!--activities sport -->
        <activity
            android:name=".SportsActivity"
            android:exported="false"
            android:label="@string/sports_title"
            android:theme="@style/Theme.test1" />

       <activity
            android:name=".ClubDetailsActivity"
            android:exported="false"
            android:label="@string/club_details_title"
            android:theme="@style/Theme.test1"
            android:parentActivityName=".SportsActivity" />

        <activity
            android:name=".MembershipActivity"
            android:exported="false"
            android:label="Adhésion Premium"
            android:theme="@style/Theme.test1"
            android:parentActivityName=".ClubDetailsActivity" />


        <!--fin activities sport -->

        <!-- Activité de détails du restaurant (doit être déclarée pour fonctionner) -->
        <activity android:name=".RestaurantDetailActivity" />

        <!-- Activité de la liste des restaurants -->
        <activity android:name=".RestaurantListActivity" />

        <!-- Activité principale (écran de démarrage) -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.test1">

            <!-- Déclaration comme activité de lancement principale -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Activité de profil utilisateur -->
        <activity android:name=".UserProfileActivity" />

        <!-- Activité de gestion des services (coter prestataire) -->
        <activity android:name=".PrestataireHomeActivity" />

        <!-- pour devenir prestataire-->
        <activity android:name=".BecomeProviderActivity" />

        <activity android:name=".AjouterImageRestaurantActivity" />


    </application>

</manifest>
